---
---

// @font-face {
//   font-family: 'Oswald';
//   src: url('{{site.data.config.cdn}}/fonts/Oswald/Oswald-Regular.ttf')  format('truetype')
// }
//
// @font-face {
//   font-family: 'Work Sans Local';
//   src: url('{{site.data.config.cdn}}/fonts/Work_Sans/WorkSans-Regular.ttf')  format('truetype')
// }
//
// @font-face {
//   font-family: 'Work Sans Bold';
//   src: url('{{site.data.config.cdn}}/fonts/Work_Sans/WorkSans-SemiBold.ttf')  format('truetype')
// }

@import 'bootstrap';
@import 'variables';

html {
  font-family: "Helvetica", sans-serif;
}

body {
  font-family: "Work Sans", "Helvetica", sans-serif;
  overflow-y: scroll;
  &.overlay-open, &.contact-overlay-open {
    overflow: hidden;
  }
}

html, body {
  overflow-x: hidden;
}

.important-notice {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: rgba(234,198,198,.9);
  p {
    margin: 0;
    text-align: center;
  }
}

.container-fluid, .full-width-white, .full-width-image.banner, .full-width-image, .banner, .navbar, footer, header.banner, div.banner {
  max-width: 1800px;
  @media screen and (min-width: 1800px) {
    margin: 0px auto;
  }
}

.holding-page .navbar img {
  width: 52px;
}

.navbar {
  background: $navbarBg;
  box-shadow: 0px 0px 5px rgba(0,0,0,.4);
  padding: 0.8rem 0rem;
  .ico-holder {
    text-align: left;
  }
  .logo {
    text-align: center;
    img {
      width: 180px;
      margin: 0;
      margin-left: 1rem;
    }
  }
  .words {
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }



  p {
    margin: 0;
    text-align: right;
    position: relative;
    right: 1rem;
    top: -1px;
  }





  .cc-link {
    display: inline;
    position: static;
    @media screen and (max-width: $break-small) {
      font-size: 0.8rem;
    }
  }

}

.introduction {
  font-size: 1.4rem;
  @media screen and (max-width: $break-small) {
    font-size: 0.8rem;
  }
  color: $greyText;
  text-align: center;
  p {
    margin-bottom: 0;
    a {
      color: $dyk;
      font-family: "Work Sans", "Helvetica", sans-serif;
    }
  }
  .down-arrow {
    margin: 1rem auto 0rem;
    width: 100px;
    display: block;
  }
}

.card-deck-wrapper {
  margin-bottom: 3rem;
  @media screen and (max-width: $break-small) {
    margin-bottom: 0;
  }
}

.banner {
  width: 100%;
  text-align: center;
  padding: 30vh 0vw;
  margin: 0;
  @media screen and (max-width: $break-landscape-tablet) {
    padding: 7rem 0;
  }
  @include media-breakpoint-down(md) {
    padding: 4.8rem 0;
  }
  @media screen and (max-width: $break-small) {
    padding: 2rem 0;
  }

  h1 {
    color: black;
    font-size: 3vw;
    img {
      margin: 0 auto 2vh auto;
      @media screen and (max-width: $break-small) {
        margin: 0 auto 2rem auto;
      }
    }
  }
  h2 {
    color: black;
    font-size: 2vw;
    font-family: "Work Sans", "Work Sans Bold";
    font-weight: 600;
  }
}




.btn.btn-primary {
  background-color: $highlight;
  border-color: $highlight;
  &:hover {
    background-color: darken($highlight, 5%);
  }
}

.btn.btn-primary.btn-lg {
  @media screen and (max-width: $break-small) {
    font-size: 1rem;
  }
}

a:hover, a:active {
  .btn-primary {
    background: black;
    color: white;
    border: 1px solid black;
  }
}

div.header-banner { // Homepage
  position: relative;
  background-color: rgb(220,255,220);
  background-image: url('{{site.data.config.cdn}}/img/homepage-background.jpg');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 50% 50%;
  padding: 40vh 0vh 30vh;
  .arrow-scroll {
    display: block;
  }
  @media screen and (max-width: $break-small) {
    padding: 11rem 0rem;
    font-size: 9.8vw;
  }
  img {
    width: 30vw;
    margin: 0 auto 1rem 0;
    display: inline-block;
    position: relative;
    @media screen and (max-width: $break-small) {
      width: 90vw;
    }

  }
  header {
    display: inline-block;
    h1 {
      margin-bottom: 0vh;
      font-family: "Oswald";
      position: relative;
      z-index: 2;
      text-transform: uppercase;
      color: white;
    }
  }
}

ul.site-nav {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  li {
    padding: 0;
    list-style: none;
  }
}

header.banner {
  position: relative;
  background-color: $ochre;

  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 50% 50%;
  padding: 40vh 0vh;
  margin-top: 37px;
  @media screen and (max-width: $break-small) {
    padding: 11rem 0rem;
  }
  h1 {
    margin-bottom: 0vh;
    font-family: "Oswald";
    position: relative;
    font-size: 5.8vw;
    z-index: 2;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    span {
      margin-left: 0rem;
    }
    @media screen and (max-width: $break-small) {
      font-size: 9.8vw;
    }
    img {
      width: 2.03em;
      margin: 0 auto 0.25em
    }
  }

  h2 {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
}

.banner.logo-overlay {
  background-color: $ochre;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 50% 50%;
  //background-attachment: fixed;
}

.full-width-white, .full-width-grey {
  background: white;
  padding: 1.5rem 0rem;
}

.full-width-grey {
  position: relative;
  background: $greyBg;
  padding: 2rem 0rem;
}


.full-width-image {
  position: relative;
  .container {
    position: relative;
    z-index: 3;
    @media screen and (max-width: $break-small) {
      z-index: 10; // place title over map on small screens
    }
  }

  h4 {
    position: relative;
    z-index: 10;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: white;
    font-family: "Work Sans", "WasBold";
    font-weight: normal;

    @include media-breakpoint-down(md) {
      font-size: 1.6rem;
    }
    @media screen and (max-width: $break-small) {
      font-size: 1.4rem;
    }
  }
  p {
    color: white;
    font-size: 1.4rem;
    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
  }
}

img {
  max-width: 100%;
}

.feature {
  text-align: center;
}

/* Typography */

.section-title {
  text-align: center;
  margin-bottom:  3rem;
}

.blockquote {
  border-left: none;
  line-height: 1.5rem;
  @media screen and (max-width: $break-small) {
    line-height: 1.2rem;
  }
  p {
    font-size: 1.3rem;
    color: black;
    display: inline;
    background: rgba(255,255,255,.7);
    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
  }
  cite {
    display: inline;
    padding: 0 0.5rem;
    background: rgba(0,0,0,1);
    color: white;
    font-style: normal;
    font-size: 1.3rem;
    @media screen and (max-width: $break-small) {
      font-size: 1rem;
    }
    &:before {
      content: "–";
    }
  }
}

footer.site-footer {
  text-align: center;
  padding: 1rem;
  p {
    color: black;
    letter-spacing: 1px;
    font-family: "Work Sans", "WasBold", "Work Sans Local", "Helvetica", sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0;
    @media screen and (max-width: $break-landscape-tablet) {
      font-size: 0.8rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 0.9rem;
    }
    @media screen and (max-width: $break-small) {
      font-family: "Work Sans", "Helvetica", sans-serif;
      letter-spacing: 0px;
      font-size: 0.8rem;
    }
    a {
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .details {
    text-align: left;
    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .copyright {
    text-align: center;
    p {
      color: black;
      letter-spacing: 1px;
      font-family: "Work Sans", "WasBold", "Work Sans Local", "Helvetica", sans-serif;
      text-transform: uppercase;
      font-size: 0.9rem;
      margin: 0;
      @media screen and (max-width: $break-landscape-tablet) {
        font-size: 0.8rem;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 1rem;
        font-size: 0.9rem;
      }
      @media screen and (max-width: $break-small) {
        font-family: "Work Sans", "Helvetica", sans-serif;
        letter-spacing: 0px;
        font-size: 0.8rem;
      }

    }
  }
  .social {
    text-align: right;
    @include media-breakpoint-down(md) {
      text-align: center;
      margin-bottom: 1rem;
    }
    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    ul {
      margin-right: 1rem;
      position: relative;
      top: -3px;
      @include media-breakpoint-down(md) {
        top: 0;
      }
    }
    li {
      display: inline;
      padding: 0 0rem 0 2rem;
      letter-spacing: 1px;
      font-family: "Work Sans", "WasBold", "Work Sans Local", "Helvetica", sans-serif;
      text-transform: uppercase;
      font-size: 0.9rem;
      margin: 0;
      &.mailing-list {
        position: relative;
        padding-left: 0;
      }
      @media screen and (max-width: $break-landscape-tablet) {
        font-size: 0.8rem;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 1rem;
        font-size: 0.9rem;
      }
      @media screen and (max-width: $break-small) {
        font-family: "Work Sans", "Helvetica", sans-serif;
        letter-spacing: 0px;
        font-size: 0.8rem;
      }
      a {
        color: $dyk;
      }

      @media screen and (max-width: $break-small) {
        padding: 0rem 1rem;
      }
    }
  }
}

.activities-wrapper {
  text-align: left;
  h2 {
    margin: 3rem 0rem 4rem;
    font-size: 3vw;
    font-family: "Work Sans", "WasBold", "Helvetica", sans-serif;


    @include media-breakpoint-down(md) {
      margin: 2rem 0rem 2rem;
    }

    @media screen and (max-width: $break-small) {
      font-size: 1.4rem;
    }
  }
}

.dyk {
  font-family: 'Oswald';
  font-size: 1.7rem;
  color: $dyk;
  @media screen and (max-width: $break-landscape-tablet) {
    font-size: 1.2rem;
    &.dyk1 {
      margin-bottom: 1rem;
    }
    &.dyk2 {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  @media screen and (max-width: $break-small) {
    font-family: "Work Sans", "Helvetica", sans-serif;
    letter-spacing: 0px;
    font-size: 1rem;
  }
}

.row {
  margin-top: 3rem;
}

.important-notice .row {
  margin-top: 0;
}
.ContractStatus {
  background: transparent;
  cursor: pointer;
}
.ContractStatus:hover {
  background: rgba(255,255,255,.25);
}
.ContractStatus-Selected_true, .ContractStatus-Selected_true:hover {
  background: white;
}

.TokenStatus, .ContractStatus {
  margin: 0rem 0rem 1rem 0rem;
  padding: 2rem 2rem 0.5rem;
  border: solid 1px rgba(0,0,0,.2);
}

.TokenStatus h4, .ContractStatus h4 {
  float: left;
}

dl.right {
  text-align: right;
}

dt.total, dd.total {
  text-align: left;
  font-size: 120%;
}

.TermsWidget-proceed {

}

.InstructionsWidget-Step {
  margin-bottom: 2rem;
}

.ContractStatus .smaller {
  font-size: 70%;
}
