
    <footer class="site-footer">
      <div class="row">
        <div class="col-lg-4 details">

        </div><!-- / .details -->
        <div class="col-lg-4 copyright">
          <p>2017 &copy; <a href="{{site.data.config.site_url}}" title="Carboncoin">Carboncoin</a></p>
        </div>
        <div class="col-lg-4 social">
          <ul>
            <li class="facebook">
              <a href="https://www.facebook.com/carboncoin" target="new" title="Carboncoin Facebook">
                <img src="{{site.data.config.cdn}}/img/iconmonstr-facebook-3.svg">
              </a>
            </li>
            <li class="github">
              <a href="https://github.com/carboncoinfoundation" target="new" title="Carboncoin Github">
                <img src="{{site.data.config.cdn}}/img/iconmonstr-github-3.svg">
              </a>
            </li>
            <li class="twitter">
              <a href="https://twitter.com/TrueCarbonCoin" target="new" title="Carboncoin Twitter">
                <img src="{{site.data.config.cdn}}/img/iconmonstr-twitter-3.svg">
              </a>
            </li>
          </ul>
        </div>
      </div>

    </footer>
