
    <div class="navbar navbar-light navbar-fixed-top">
      <div class="row">
        <div class="col-xs-4  activities-dropdown-wrap">

        </div>
        <div class="col-xs-4 logo">
          <a href="{{ site.data.config.site_url }}"><img src="{{ site.data.config.cdn }}/img/cc-logo.png" alt="Carboncoin"></a>
        </div><!-- / .logo -->

        <div class="col-xs-4">
          <p><a class="cc-link" href="https://carboncointalk.com">Forum</a></p>
        </div>
      </div>
    </div><!-- / .navbar -->

    <div id="ico" class="overlay-navigation overlay overlay-slidedown">
      <div class="row nav">
        <p class="trigger-overlay">close</p>
        ICO
      </div>
    </div><!-- / #activities -->
