
    <!-- Prompt activities click -->
    <div class="encourage-ico-click prompt">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 col-sm-3 img-holder">
            <img src="{{site.data.config.cdn}}/img/cc-logo-green.png" alt="New Carboncoin" class="img-circle">
          </div>
          <div class="col-xs-8 col-sm-9">
            <div class="ask-consent">
              <p>Check out <a href="#ico" class="trigger-overlay">our forthcoming ICO</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="no-thanks close"></a>
    </div>
