$ccGreen: rgb(59, 182, 109);

$navbarBg: $ccGreen;
$dyk: $ccGreen;

$red: rgb(255,255,0);
$grey: rgba(0,0,0,.3);
$greyBg: rgb(240,240,240);
$peach: rgb(255, 211, 182);
$mapHighlight: #EC971F;
$green: rgb(0, 204, 116);
$ochre: rgba(208, 159, 0, 0.75);
$greyText: rgb(100,100,100);
$highlight: $mapHighlight;
$blockHighlight: #454545;
$minty: rgb(0, 255, 161);
$bootstrapBody: rgb(55, 58, 60);

$break-small: 640px;

$break-landscape-tablet: 1024px;
