<!DOCTYPE html>
<html>
  <head>
    <title>Carboncoin</title>
    <meta name="robots" content="noindex">
    {% include head-meta.html %}
  </head>
  <body class="home overlay-closed">
    {% include navigation.html %}
    <header class="banner">
      <h1>
        <img src="{{site.data.config.cdn}}/img/cc-logo.png" alt="Carboncoin">
        Not found
      </h1>
      <div class="text-on-image">
        <p>That's a 404 – nothing to see here, apart from these beautiful trees...</p>
        <p><a href="/">Head home</a>
      </p>
    </header>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
