<!DOCTYPE html>
<html>

<head>
  <title>New Carboncoin</title>
  {% include head-meta.html %}
</head>

<body class="home">

  <div class="header-banner">
    <header>
      <h1>
        <img src="{{site.data.config.cdn}}/img/cc-logo.png" alt="Carboncoin">
      </h1>
    </header>
    <div class="full-width-grey ico-status">
      <h2>Welcome to our Token Fundraise, funding a new Carboncoin network and loads of trees!</h2>
      <h3 id="total-raised-container">Total raised so far: $
        <span id="total-raised"></span>
      </h3>
      <a id="find-out-more" class="btn btn-lg btn-primary" href="#ico-intro">Find out more</a>
    </div>
  </div>

  <div class="important-notice">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <p>Please note the token fundraise has not started and the site is populated with dummy data. The Ethereum Classic
            contract and token are real, but they are test versions that will be replaced when the fundraise begins.
        </div>
      </div>
    </div>
  </div>


  <section id="ico-intro" class="full-width-white">
    <div class="container">
      <div class="row" id="section1">
        <div class="col-md-5 col-md-offset-1 col-sm-12">
          <h2>The story so far</h2>
          <p>Carboncoin has been running successfully for four years with faster transactions than Bitcoin and all off the power
            of two lightbulbs</p>
          <p>The network is healthy and well, with a thriving community we were thrilled to reconnect with during the recent
            coin swap.</p>
          <p>But we have got where we are without being able to hire a full time coding team or a business development operation.</p>
          <p>The time has come for Carboncoin to evolve.</p>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12">
          <img src="{{site.data.config.cdn}}/img/power.png" alt="Carboncoin Power" />
        </div>
      </div>
    </div>
    <!-- / .container -->
  </section>
  <!-- / .full-width-white -->

  <section class="full-width-white">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-md-push-6 col-sm-12">
          <h2>New Carboncoin</h2>
          <p>We have designed several new features and services which, when built, will greatly assist us in achieving our goal
            of being of unprecedented benefit to the environment.</p>
          <p>We plan to implement these into a new network to be built with the proceeds from the token fundraise, using all
            advances in cryptocurrency technology which serve our use case.</p>
        </div>
        <div class="col-md-4 col-md-offset-1 col-md-pull-5 col-sm-12">
          <img src="{{site.data.config.cdn}}/img/environment.svg" alt="The Environment" />
        </div>
      </div>
    </div>
  </section>
  <section class="full-width-white">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-12">
          <h2>Our Token Fundraise</h2>
          <p>There will be 16 Billion New Carboncoins when the new network is launched at the end of the development period,
            after the completion of the fundraise.</p>
          <p>When you participate, you will receive ERFC20 tokens which will be used as a holding mechanism. Each Carboncoin
            holding token will be redeemable for 100 New Carboncoins once the new network is released.</p>
          <p>For more information, please browse the
            <a href="https://www.carboncointalk.com/index.php?board=28.0" title="Carboncoin Official Statements" target="new">Official Statements section of our forum</a>.</p>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-12" style="padding-top:10px">
          <h3>Important Links</h3>
          <ul>
            <li>
              <a href="https://carboncoin.cc" target="new">carboncoin.cc</a>
            </li>
            <li>
              <a href="https://www.carboncointalk.com/" target="new">carboncointalk.com</a>
            </li>
            <li>
              <a href="https://medium.com/@Carboncoin" target="new">medium.com/@Carboncoin</a>
            </li>
            <li>
              <a href="https://twitter.com/truecarboncoin?lang=en" target="new">twitter.com/TrueCarbonCoin</a>
            </li>
            <li>
              <a href="https://www.reddit.com/r/carboncoinofficial/" target="new">reddit.com/r/carboncoinofficial/</a>
            </li>
            <li>
              <a href="https://www.facebook.com/carboncoin/" target="new">facebook.com/carboncoin/</a>
            </li>
            <li>
              <a href="https://github.com/carboncoinfoundation/" target="new">github.com/carboncoinfoundation/</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <!-- / .container -->
  </section>
  <!-- / .full-width-white -->

  <div id="ico-widget"></div>

  {% include footer.html %} {% include scripts.html %}
</body>

</html>