<!DOCTYPE html>
<html>
  <head>
    <title>New Carboncoin</title>
    {% include head-meta.html %}
  </head>
  <body class="home overlay-closed contact-overlay-closed">
    {% include navigation.html %}
    <div class="header-banner banner">

        <header>
          <h1><img src="{{site.data.config.cdn}}/img/cc-logo.png" alt="Carboncoin"></h1>
        </header>
    </div>

    <section class="full-width-white introduction" id="introduction">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">

              <p>New Carboncoin works just like Bitcoin, but removes competitive mining. </p>
              <p><a href="#get-notified" class="trigger-email-capture" target="new" title="Carboncoin Slack">
                Join our Slack.
              </a> <a href="#ico" class="trigger-overlay">Participate in our ICO.</a></p>

          </div><!-- / .col -->
        </div><!-- / .row -->
      </div><!-- / .container -->
    </section><!-- / .full-width-white -->



    <div class="full-width-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <section class="introduction">

            </section>
          </div>
        </div>
      </div>
    </div><!-- / .full-width-white -->


    <div id="ico-widget"></div>


    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
